body {
    padding: 0px;
    margin: 0px;
    background: #aaaaaa;
}

.game-canvas {
    position: relative;
    background-color: #888888;
    height: 300px;
    width: 400px;
    cursor: crosshair;
}

.game-ball {
    position: absolute;
    background-color: #955959;
    height: 50px;
    width: 50px;
    left: 100px;
    border-radius: 25px;
}

.game-bar {
    transition: 50ms;
    position: absolute;
    background-color: #7777aa;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.game-obstacle {
    position: absolute;
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 2px;
    border-top: solid 2px #bbbbbb;
    border-left: solid 2px #333333;
    border-right: solid 2px #bbbbbb;
    border-bottom: solid 2px #333333;
}